@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Stylish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Stylish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

.payment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  border: 3px solid;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.delivery-indicator-3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  flex: 1;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  color: #fff;
  height: 40px !important;
  background: radial-gradient(circle, #48a3a9 0%, #2a777c 100%);
  margin-top: -13px;
  margin-left: -13px;
  margin-right: -13px;
  font-size: 18px;
}

.delivery-indicator-2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  flex: 1;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  color: #fff;
  height: 40px;
  background: radial-gradient(circle, #48a3a9 0%, #2a777c 100%);
  margin-top: -13px;
  margin-left: -13px;
  margin-right: -13px;
  font-size: 20px;
}

.data-i {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.data-l {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.data-li {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 12px;
  letter-spacing: 2px;
}

.data-e {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.data-p {
  font-family: "Stylish", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.finalizando-pagamento {
  flex: 1;
  margin: 0 10px; /* Adicionado espaçamento à esquerda e direita */
  display: flex;
  padding: 20px;
}

.resumo-pedido {
  flex: 1;
  margin: 0 10px; /* Adicionado espaçamento à esquerda e direita */
  color: #48A3A9;
  border: 3px solid #2a777c;
  border-radius: 18px;
  padding: 10px;
  margin: 10px;
  margin-top: 2px;
}

.opcoes-pagamento {
  flex: 1;
  margin: 0 10px; /* Adicionado espaçamento à esquerda e direita */
  /* display: flex; */
  flex-direction: column;
  margin-top: 2px;
  border: 3px solid #2a777c;
  border-radius: 18px;
  padding: 10px;
}
  
  .opcoes-pagamento label {
    margin-bottom: 10px;
    color: #48A3A9;
    color: #48A3A9;
  }
  
  .opcao-pagamento {
    border-bottom: 1px solid #48A3A9;
    border-bottom: 1px solid #48A3A9;
    padding: 10px 0;
  }
 
  .opcao-titulo {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #48A3A9;
    color: #48A3A9;
  }
  
  .opcao-linha {
    height: 1px;
    background-color: #48A3A9;
    margin-bottom: 5px;
  }
  
  .campos {
    display: flex;
    flex-direction: column;
  }

  .campo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #48A3A9;
    border-radius: 4px;

  }
  

  .concluir-btn {
    background-color: #3CA2A2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .concluir-btn:hover {
    background-color: #3CA2A2;
    align-items: center;
  }

.cartao-imagem {
  width: 15%;  /* Ajuste o valor conforme necessário */
  height: auto;
  margin-bottom: 20px;
}

.qrcode-imagem {
  width: 100px; /* Defina o tamanho desejado em pixels ou outra unidade */
  height: auto; /* Mantenha a proporção original da imagem */
}

  