/* Adicione as seguintes alterações ao seu CSS */

.payment-container {
    max-width: 100%;
    margin: auto;
    padding: 30px;
    border: 1px solid #3498db;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .payment-title {
    margin: 0;
    color: #3498db;
  }
  
  .resumo-pedido {
    flex-grow: 1;
    margin-left: 20px;
    color: #555;
  }
  
  .opcoes-pagamento {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid #3498db;
    border-radius: 8px;
    padding: 15px; /* Adicionado espaçamento interno */
  }
  
  .opcoes-pagamento label {
    margin-bottom: 10px;
    color: #555;
  }
  
  .opcao-pagamento {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .opcao-titulo {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .opcao-linha {
    height: 1px;
    background-color: #ddd;
    margin-bottom: 5px;
  }
  
  .campos {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #resumo-pedido {
    border: 1px solid #3498db;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
  }
  
  .concluir-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .concluir-btn:hover {
    background-color: #2980b9;
  }

  /* Adicione estas alterações ao seu CSS existente */

.payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.opcoes-pagamento {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.concluir-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.concluir-btn:hover {
  background-color: #2980b9;
}

.cartao-imagem {
  width: 15%;  /* Ajuste o valor conforme necessário */
  height: auto;
  margin-bottom: 20px;
}


  