@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}


.main-container {
  height: 100vh;
}

.bt-header {
  font-size: 28px;
  padding: 2px;
}

.main-header {
  background-color: rgb(72, 163, 169);
  width: 100%;
  height: 60px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.logo img {
  max-width: 80%;
}

.search-container-geral {
  width: 98%;
  height: 40px;
  margin: 12px auto;
  background-color: #dcebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 0px solid #ffffff;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.search-container:hover {
  background-color: #bdd6d6;
}

.search-container input:focus,
.search-container button:focus {
  outline: none;
  border: 1px solid transparent;
}

.search-bar {
  flex-grow: 1;
  padding: 8px;
  border: none;
  background: transparent;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  color: #48a3a9;
}

.search-bar::placeholder {
  color: #48a3a9;
  font-size: 11px;
  letter-spacing: 2px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icons a {
  display: flex;
  align-items: center;
}

.icons i {
  font-size: 25px;
  color: #ffffff;
}

.select-image img {
  max-height: 450px;
}

.main-products {
  gap: 0.2rem;
  justify-content:center;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: flex-start;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajuste conforme necessário para cobrir a altura da tela inteira */
  background-color: #fff; /* Cor de fundo desejada */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Certifique-se de que a tela de carregamento esteja acima de outros elementos */
}


.container {
  text-align: left;
  /* margin-left: 85%; */
}

.products-left {
  display: flex;
  flex-direction: column;
}

.imagens {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 400px;
  margin-right: -40px;
}

.imagens img {
  margin-bottom: 10px;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.select-image {
  max-width: 400px;
}

.select-image img {
  width: 100%;
  border-radius: 10px;
}

.right-side {
  width: 100%;
  color: #48a3a9;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.mare {
  font-size: 10px;
}

.prices {
  display: flex;
}

.price-pd {
  font-family: "Stylish", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
  margin-left: 0;
}

.off {
  font-family: "Stylish", sans-serif;
  text-decoration: line-through;
  font-size: 16px;
  color: #3dafb37a;
}

.text-prod {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title-prod {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.show-more-button-1 {
  font-size: 22px;
  background-color: transparent;
  color: #48a3a9;
  margin-left: -1%;
  transition: transform 0.3s ease-in-out;
}

.expanded {
  transform: rotate(180deg);
}

.description-text {
  margin-left: 6%;
  margin-right: 8%;
  margin-bottom: 4%;
  color: #48a3a9;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.title-prod-1 {
  margin-bottom: -10px;
  margin-top: -10px;
  color:#48a3a9;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  margin-left: 5%;
}

.color-buttons {
  display: flex;
  font-size: 10px;
}

.color-button {
  margin-right: 10px;
  border: 2px solid #48a3a9;
  border-radius: 10px;
  padding: 15px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.color-button:hover {
  border: 3px solid #247479;
}

#selected-color {
    margin-top: 4px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    font-weight: 700;
}

.hr-prod {
  width: 100%;
  height: 2px;
  background-color: #50b2b9;
  border: none;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 8px;
  opacity: 1;
}

.hr-prod-1 {
  text-align: left;
  width: 90%;
  height: 2px;
  background-color: #50b2b9;
  border: none;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 8px;
  opacity: 1;
}

.options {
  margin-top: 10px;
  display: flex;
}

.amount {
  font-family: "Stylish", sans-serif;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 2px;
  border: 1px solid #48a3a9;
  width: fit-content;
  height: 30px;
  padding: 1px 1px;
}

.amount span {
  font-family: "Stylish", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.size-options {
  display: flex;
}

.size-option {
  border: 1px solid #48a3a9;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  height: 30px;
  width: 28px;
  font-size: 14px;
  font-family: "Stylish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.selected-image {
  width: auto;
  height: 500px;
}

.small-images {
  width: auto;
  height: 150px;
  border-radius: 10px;
}

.small-images:hover {
  border: 3px solid #48a3a9;
  border-radius: 10px;
}

.products-left {
  margin-left: 0px;
}

.selected-color-button {
  border-color: #d811df;
}


.left-side {
  margin-left: 0px;
}


.selected {
   border: 1px solid #247479;
}

.size-option:hover {
  color: #247479;
  border: 2px solid #247479;
}

.amount button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  color: #48a3a9;
  background-color: transparent;
  width: fit-content;
  height: 20px;
  font-size: 16px;
  font-family: 'Stylish', sans-serif;
}

.buttons-cart {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(245, 252, 252);
  background-color: #48a3a9;
  border-radius: 8px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 300px;
  gap: 5px;
  margin-left: 0px;
  font-size: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.buttons-cart:hover {
  background-color: #247479;
  transform: scale(1.05);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border: none;
}

.buttons-cart i {
  font-size: 20px;
  margin-right: 5px;
}

.buttons-cart span {
  flex: 1;
  text-align: center;
}

.cep-text {
  margin-top: 15px;
}

.cep-text p {
  color: #48a3a9;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 14px;
}

.cep {
  display: flex;
  align-items: center;
}

.cep input {
  color: #48a3a9;
  border: 2px solid #48a3a9;
  background-color: rgb(245, 252, 252);
  padding: 10px;
  border-radius: 10px;
  height: 40px;
  margin-right: 1px;
}

.cep::placeholder{
  color:#48a3a99d;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
}

.cep button {
  height: 35px;
  width: 38px;
  background-color: none;
  font-size: 14px;
  font-family: "Stylish", sans-serif;
  color: #ffffff;
  border: 2px solid #48a3a9;
  padding: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;

}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 30px;
  background-color: #48a3a9;
  color: #fff;
  text-align: center;
}

.footer-section {
  gap: 1rem;
  justify-content: space-around;
  background-color: #48a3a9;
  padding: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: flex-start;
}

.footer-section .footer-section-div {
  text-align: left;
}

.container-fluid {
  background-color: #48a3a9;
  padding-bottom: 3rem;
}

section {
  padding-top: 7rem;
}

section h1 {
  align-items: center;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
}

.footer-section-div img {
  width: 100px;
}

.footer-section-div h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.footer-section-div li a {
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  transition: color 0.35s ease;
  letter-spacing: 2px;
}

.footer-section-div li a:hover {
  color: #247479;
  text-decoration: underline;
}

.footer-section-div .fa {
  font-size: 26px;
  margin-left: -10px;
  color: white;
  background-color: #48a3a9;
  padding: 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.footer-section-div .fa:hover {
  color: #247479;
  cursor: pointer;
}

.last-text {
  text-align: center;
  background-color: #247479;
  color: #fff;
  padding: 0.5rem 0;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.text-sub-footer {
  font-family: "Stylish", sans-serif;
  font-size: 20px;
  margin-top: -5px;
  letter-spacing: 1px;
}

.show-more-button-1 {
  font-size: 22px;
  background-color: transparent;
  color: #48a3a9;
  margin-left: -1%;
  transition: transform 0.3s ease-in-out;
}

.expanded {
  transform: rotate(180deg);
}

.description-text {
  margin-left: 6%;
  margin-right: 8%;
  margin-bottom: 4%;
  color: #48a3a9;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}
