#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Isso garante que o conteúdo ocupe pelo menos a altura da tela. */
  width: 100%;
  justify-content: space-between; /*Isso alinha o conteúdo verticalmente. */
  align-items: center; /* Isso alinha o conteúdo horizontalmente. */
}