.clothes img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px; /* Ajuste o valor de margem conforme necessário */
  margin-left: 40px;
}
.page-count {
  display: inline-block; /* Exibe o elemento como um bloco em linha */
  font-weight: bold; /* Define o peso da fonte como negrito */
  color: #fff; /* Cor do texto */
  padding: 5px 10px; /* Espaçamento interno */
  border-radius: 50%;
}

.items-per-page {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
}

.items-per-page label {
  margin-right: 10px;
  color: black;
}

.items-per-page select {
  color: black;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  outline: none;
}
