@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: url("/images/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.bt-header {
  font-size: 28px;
  padding: 8px;
}

.main-header {
  background-color: rgb(72, 163, 169);
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  background: transparent;
  border: 3px solid rgb(147, 202, 206);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 28px;
  padding: 30px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper h1 {
  font-size: 32px;
  text-align: center;
  font-family: "Stylish", sans-serif;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 60%;
  background: transparent;
  border: none;
  outline: none;
  border: 2.5px solid rgb(147, 202, 206);
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  padding-left: 45px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  left: 15px;
  top: 42%;
  transform: translateY(-50%);
  font-size: 20px;
}

.login-image {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 90px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 3px solid rgb(147, 202, 206);
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 2.5px;
  color: #ffffff;
  font-weight: 600;
}

.wrapper .btn:hover {
  background-color: rgb(124, 184, 189);
  color: #ffffff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  color: rgb(147, 202, 206);
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  font-size: 13px;
}

.footer-link:hover {
  text-decoration: underline;
  color: rgb(184, 225, 228);
}

.p-contacts {
  font-size: 13px;
}

footer {
  margin: 20px;
  width: 100%;
  background-color: #48a3a9;
  color: #fff;
  padding: 20px 0;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  font-size: 10px;
  letter-spacing: 2px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  margin-bottom: -18px;
}

.footer-right {
  font-size: 10px;
  letter-spacing: 2px;
  margin-right: 15px;
  margin-bottom: -10px;
}

.icon-image {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.sub-footer {
  margin-top: -22px;
  width: 100%;
  height: 40px;
  background-color: #247479;
  padding: 10px 0;
  text-align: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.sub-footer p {
  font-family: "Stylish", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons i {
  font-size: 18px;
  margin-top: 2px;
  margin-left: 10px;
}